.venv
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
zhangdocs-theme-*/
html
html/
html/*
volumes
chromadatabase
chat_history.db
chroma_database
chroma_db
file_storage
file_storage/
file_storage/*
covers
covers/
covers/*
./chroma_db
models
embeddingModels
test
logs/*
uv.lock